<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="OracleCNDev" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=gwventasDEV)(PORT=1888))(CONNECT_DATA=(SERVICE_NAME=GWV)));User Id=intapp;Password=integra2018;" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="OracleCNQa" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=gwventastest)(PORT=1888))(CONNECT_DATA=(SERVICE_NAME=GWV)));User Id=intapp;Password=integra2018;" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="OracleCNPrd" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=ac)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ac.vital.com.ar)));User Id=posfull;Password=fullposapp;" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <appSettings>
    <add key="WinServPort" value="51020"/>
    <add key="WsTimeout" value="180000"/>
    <add key="GetBrandsApiStr" value="api/catalog_system/pvt/brand/list"/>
    <add key="CreateBrandsApiStr" value="api/catalog/pvt/brand"/>
    <add key="UpdateBrandsApiStr" value="api/catalog/pvt/brand/"/>
    <add key="GetCatTreeApiStr" value="api/catalog_system/pub/category/tree/"/>
    <add key="GetCategoryApiStr" value="api/catalog/pvt/category/"/>
    <add key="UpdateCategoryApiStr" value="api/catalog/pvt/category/"/>
    <add key="CreateCategoryApiStr" value="api/catalog/pvt/category/"/>
    <add key="GetProductAndSkuIds" value="api/catalog_system/pvt/products/GetProductAndSkuIds"/>
    <add key="GetProductById" value="api/catalog/pvt/product/"/>
    <add key="GetProductByRefId" value="api/catalog_system/pvt/products/productgetbyrefid/"/>
    <add key="CreateProduct" value="api/catalog/pvt/product"/>
    <add key="UpdateProduct" value="api/catalog/pvt/product/"/>
    <add key="GetProductSpecification" value="api/catalog_system/pvt/products/{0}/specification"/>
    <add key="CreateProductSpecification" value="api/catalog/pvt/product/{0}/specification"/>
    <add key="UpdateProductSpecification" value="api/catalog_system/pvt/products/{0}/specification"/>
    <add key="DeleteProductSpecification" value="api/catalog/pvt/product/{0}/specification"/>
    <add key="GetSpecificationsByCategoryId" value="api/catalog_system/pub/specification/field/listByCategoryId/"/>
    <add key="GetSpecificationsTreeByCategoryId" value="api/catalog_system/pub/specification/field/listTreeByCategoryId/"/>
    <add key="GetSkusByProductId" value="api/catalog_system/pvt/sku/stockkeepingunitByProductId/"/>
    <add key="GetSkuIdByRefId" value="api/catalog_system/pvt/sku/stockkeepingunitidbyrefid/"/>
    <add key="GetSku" value="api/catalog/pvt/stockkeepingunit/"/>
    <add key="CreateSku" value="api/catalog/pvt/stockkeepingunit"/>
    <add key="UpdateSku" value="api/catalog/pvt/stockkeepingunit/"/>
    <add key="GetEanBySkuId" value="api/catalog/pvt/stockkeepingunit/{0}/ean"/>
    <add key="CreateSkuEan" value="api/catalog/pvt/stockkeepingunit/{0}/ean/{1}"/>
    <add key="DeleteSkuEan" value="api/catalog/pvt/stockkeepingunit/{0}/ean"/>
    <add key="GetSkuFile" value="api/catalog/pvt/stockkeepingunit/{0}/file"/>
    <add key="CreateSkuFile" value="api/catalog/pvt/stockkeepingunit/{0}/file"/>
    <add key="GetWarehouses" value="api/logistics/pvt/configuration/warehouses"/>
    <add key="UpdateInventoryBySkuIdWarehouse" value="api/logistics/pvt/inventory/skus/{0}/warehouses/{1}"/>
    <add key="SetPrices" value="pricing/prices/"/>
    <add key="GetPrice" value="pricing/prices/"/>
    <add key="SetPriceByTradePolicy" value="pricing/prices/{0}/fixed/{1}"/>
    <add key="GetAllCollections" value="api/catalog_system/pvt/collection/search"/>
  </appSettings>
  <log4net>
    <appender name="Console" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%5level [%thread] (%file:%line) - %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="./Log.log"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <appendToFile value="true"/>
      <maximumFileSize value="16MB"/>
      <maxSizeRollBackups value="2"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %type.%method %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <!--<appender-ref ref="Console" />-->
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
</configuration>